*{
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
}

.btn {
	border-radius: 0px;
	height: 75px;

}

.btn-group-vertical{
	width: 100%;

}
.col{padding: 0}
.pantalla1, .pantalla2{
  height: 50px;
  background-color: white;
}
.pantalla2 p {
	width: 100%;
	text-align: right;
}
.pantalla1 p {
	width: 95%;
	text-align: right;
}
body{
  background-color: #4db7ad;
}
.container{
	margin-top: 50px;
	max-width: 540px;
}
